<h3>Datatable</h3>
<div class="col-xs-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th ng-repeat="(key, value) in jsonData[0]"><a id="table-{{key}}-order" ng-click="orderBy(key)">{{key | sanitizeTitle}}</a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in jsonData | orderBy:orderKey | limitTo:rowLimit">
        <th class="col-xs-1" scope="row">{{row.id}}</th>
        <td class="col-xs-2">{{row.city}}</td>
        <td class="col-xs-3">{{row.start_date | date: 'shortDate' }}</td>
        <td class="col-xs-3">{{row.end_date | date: 'shortDate' }}</td>
        <td class="col-xs-1">{{row.price}}</td>
        <td class="col-xs-1">{{row.status}}</td>
        <td class="col-xs-1" ng-style='{"background-color":row.color}'>{{row.color}}</td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <a class="btn btn-default" ng-click="addRows(10)">load more</a>
    <a class="btn btn-default" ng-click="addRows(0)">reset</a>
  </div>
</div>
